<mat-toolbar class="toolbar" color="primary">
  <ng-container *ngIf="!isProductRegistrationRoute">
    <button mat-icon-button class="add-button" routerLink="/produto/cadastro">
      <mat-icon>add</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="isProductRegistrationRoute">
    <button mat-icon-button class="save-button" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button class="delete-button" (click)="deleteProduct()">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-container>
  <span class="toolbar-text">{{ pageTitle }}</span>
</mat-toolbar>
